.slidev-code {
  white-space: pre-wrap;
}

p, li {
  font-weight: lighter;
}

.slidev-code-line-numbers .no-line-numbers .slidev-code code .line::before {
  display: none;
}

div[layout="two-cols"] div.col-right {
  padding-left: 10px;
  padding-top: 53px;
}

img.logo {
  width: 175px;
  margin: 20px 10px;
  display: inline-block;
}

img.logo-smaller {
  width: 100px;
  margin: 20px 5px;
  display: inline-block;
}

img.logo-small {
  width: 125px;
  margin: 20px 5px;
  display: inline-block;
}

img.face {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

span.light {
  font-weight: lighter;
}
